/* Header Area */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


h1,h2{
    text-transform: uppercase;
    font-size:28px;
}
body{
    background-color:#f9f9f9;
}

.header-rea{}
#header{}
.logo h2:hover,
.logo p:hover{
    text-decoration: none;
}
.logo h2{
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 29px;
}

.logo p{
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.logo img{}
.zakat-calc{
    width: 360px;
    height: 80px;
    padding: 9px 18px;
    border: 1px solid #ddd;
    margin-top: 10px;
    background: #3D566E;   
}

.zakat-calc h2 a{
    color:#fff;
}

.margin-top{
    margin: 100px 0px;
}

.donate-z{
    width: 270px;
    height: 90px;
    padding: 16px;
    border: 1px solid #ddd;
    background: #3D566E;
    float: right;
    margin-right: 20px;
    margin-top: 23px
}

.donate-z h2 a{
    color: #fff;
    margin-left: 45px;
}

 .account-info{min-height:50px;margin-top:20px;}
 .account-info ul{
    margin:0;
    padding:0;
    list-style:none;
}
.account-info ul li{
    float:left;
    margin-right:10px;
    position:relative;
}
.account-info ul li a{
    display:block;
    text-decoration:none;
    padding:-2px 20px;
    color:#000;
    font-size: 16px;
}
.account-info ul li a:hover{}

.container-fluid {
    margin-right:0px;
    margin-left:0px;
    padding-left:0px;
    padding-right:0px;
}
.navbar-nav li a {
    margin-right: 48px;
    font-size: 22px;
    padding-right: 10px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 15px;
}
.navbar-nav li a:first-child {
    /*margin-left: -15px;*/
}
.navbar {
    border-radius: 0px;
}

.fund-category{
    margin-top: 30px;
}

/*  dropdown menu  */
.account-info ul li ul{position:absolute;left:-999999px;}
.account-info ul li:hover ul{left:0px;}
.account-info ul li ul li{margin-left:20px;margin-top: 10px ;float:none;width:200px;border-bottom:1px solid #437a0b;}
.account-info ul li ul li:first-child{border-bottom:10px;}
.account-info ul li ul li:last-child{border-bottom:0px solid #5aa014;}
.account-info ul li ul li a{padding:-2px 10px;}
.account-info ul li ul li a:hover{border-radius:0px;}
.title img{}
#span i{
    margin-left: 10px;
}


.required{
    color: red;
    margin-left: 15px;
    
}

/*  Marque Area */
.marque-area{}

/* Navigation */
.navigation-area{
   
}
.mainmenu{
    margin-top:30px;
}

.menu{
    width:100%;
}

.navbar-nav li a {
    margin-right: 20px;
    font-size: 22px;
    padding-right: 0px;
}

/* Tab */
.user-donor{
    border:1px solid #ddd;
    padding:15px;
}
.tab-content{
    margin-top:30px;
}

.nav-tabs li {
   font-size: 32px;
}

label{
    font-size:18px;
}

#username{
    margin-bottom:20px;
}

#password{
    margin-left:9px;
    margin-bottom:20px;
}

#login{
    margin-left: 186px;
    width: 80px;
    height: 32px;
    font-size: 18px;
}

.para{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 22px;
}

#select{
    margin-right: 20px;
    font-size: 18px;
    width: 165px;
    height: 35px;
}

#search{
    width: 65px;
    height: 35px;
}
.user-area{
    margin-top:30px;
}
.category-list{
    border:1px solid #ddd;
    padding:15px;
    margin-top: 36px;
}

.category-list h2{
   border-bottom:1px solid #ddd;
   padding-bottom:10px;
}

.list{
   // margin-left: 20px;
}

.list ul{
    margin:0;
    padding:0;
    list-style:none;
}

.list ul li{
   
}
.list ul li a{
    margin-left: 8px;
    font-size: 17px;
    color:#000;
}
.list ul li a:hover{
   color:#428bca;
}

.story{
   margin-top:45px;
}

/* Fund Source*/
.fund-source{
    margin:40px 0px 0px 0px;
}
.fund-source-category{}


/* Organization*/
.organaization-area{}
.organization{}
.organization h2{}
.single-list{}
.single-list img{}
.single-list h3{}
.single-list p{}

.single-list a{
    float:right;
}

/* Footer Area */

.footer-area{
    margin-top:30px;
    height:50px;
    background:#222222;
}

.copyright{}

.copyright p{
    margin-left: 2%;
    color: #fff;
    padding-top: 14px;
    font-size: 18px;
}

.social-connect{
    float:right;
}
.social-connect ul{
    margin:0;
    padding:0;
    list-style:none;
}
.social-connect ul li{
    float:left;
    margin-top:10px;
}
.social-connect ul li a{
    display:block;
    padding:3px;
    text-decoration:none;
}
.social-connect ul li a img{}

/* Create account page */

.create-account{
    margin-top:50px;
}
.sidebar{}
.sidebar h2{
    margin-bottom:20px;
}
.sidebar ul{
    margin:0;
    padding:0;
    list-style:none;
}
.sidebar ul li{
    margin: 8px 0px 8px 22px;
}
.sidebar ul li a{
    font-size: 17px;
    color: #000;
    padding-left:10px;
}
.sidebar ul li a:hover{
    color:#428bca;
}

.account{}
.login-info{
    border: 1px solid #ddd;
    padding: 7px 20px 19px 15px;
}
.login-info h2{
    margin-bottom: 30px;
}

#create-u{
    margin-left: 80px;
    margin-bottom:10px;
    width: 200px;
}
#create-e{
    margin-left: 128px;
    margin-bottom:10px;
    width: 200px;
}
#create-p{ 
    margin-left: 90px;
    margin-bottom:10px;
    width: 200px;
}
#create-c-p{
    margin-left: 14px;
    margin-bottom:10px;
    width: 200px;
}
#create-e{
    margin-bottom:10px;
    width: 200px;
}
#create-f-n{
    margin-left: 65px;
    margin-bottom:10px;
    width: 200px;
}
#create-l-n{
    margin-left: 67px;
    margin-bottom:10px;
    width: 200px;
}
#create-add{
    margin: 20px 0px 0px 86px;
    margin-bottom:10px;
    width: 200px;
}
#create-select{
    margin-left: 48px;
    width: 154px;
    height: 30px;
    margin-bottom:10px;
    width: 200px;
}
#create-country{
    margin-left: 89px;
    width: 200px;
    height: 30px;
    margin-bottom:10px;
}
#create-c{
    margin-left: 125px;
    margin-bottom:10px;
    width: 200px;
}
#create-cell{
    margin-left: 102px;
    margin-bottom:10px;
    width: 200px;
}
#create-c-e{
    margin-left: 40px;
    margin-bottom:10px;
    width: 200px;
}
#create-a-e{
    margin-left: 10px;
    margin-bottom:10px;
    width: 200px;
}
#create-s{
    margin-bottom: 10px;
    width: 112px;
    margin-left: 263px;
}
#create-des{
    margin: 20px 0px 0px 60px;
    margin-bottom:10px;
    width: 200px;
}

.detail-info{
    margin-top:40px;
    padding: 7px 0px 19px 15px;
}
.detail-info h2{
    margin-bottom: 30px;
}

.advertise{
    border: 1px solid #ddd;
    width: 100%;
    height: 1012px;
}

/* Single Success Story page*/
.success-story-area{}
.success-story-area h2{}

.success-story-area p{
    font-size: 15px;
    line-height: 25px;
}

.releted-stories{}

.releted-stories h2{}

.releted-stories ul{
    margin:0;
    padding:0;
    list-style:none;
}

.releted-stories ul li{
    margin-left: 15px;
}

.releted-stories ul li a{ 
    font-size: 16px;
    color: #000;
    padding: 6px 0px;
    display: block;
}

.releted-stories ul li a:hover{ 
    color:#428bca;
}
 
.story {}
.story h1{
    border-bottom: 1px solid #000;
    padding: 0px 0px 10px 0px;
}

.story img{
    margin: 15px 15px;
}

.success_story_list{
    margin-top:50px; 
}


 /* Contact us area */
 
.contact-us-area{
   margin-top:60px;
}

.contact{}

/* Event Page */

    
.event-list {
            list-style: none;
            font-family: 'Lato', sans-serif;
            margin: 0px;
            padding: 0px;
    }
    .event-list > li {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 5px rgb(51, 51, 51);
            box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
            padding: 0px;
            margin: 0px 0px 20px;
    }
    .event-list > li > time {
            display: inline-block;
            width: 100%;
            color: rgb(255, 255, 255);
            background-color: rgb(197, 44, 102);
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
    }
    .event-list > li:nth-child(even) > time {
            background-color: rgb(165, 82, 167);
    }
    .event-list > li > time > span {
            display: none;
    }
    .event-list > li > time > .day {
            display: block;
            font-size: 56pt;
            font-weight: 100;
            line-height: 1;
    }
    .event-list > li time > .month {
            display: block;
            font-size: 24pt;
            font-weight: 900;
            line-height: 1;
    }
    .event-list > li > img {
            width: 100%;
    }
    .event-list > li > .info {
            padding-top: 5px;
            text-align: center;
    }
    .event-list > li > .info > .title {
            font-size: 17pt;
            font-weight: 700;
            margin: 0px;
    }
    .event-list > li > .info > .desc {
            font-size: 13pt;
            font-weight: 300;
            margin: 0px;
    }
    .event-list > li > .info > ul,
    .event-list > li > .social > ul {
            display: table;
            list-style: none;
            margin: 10px 0px 0px;
            padding: 0px;
            width: 100%;
            text-align: center;
    }
    .event-list > li > .social > ul {
            margin: 0px;
    }
    .event-list > li > .info > ul > li,
    .event-list > li > .social > ul > li {
            display: table-cell;
            cursor: pointer;
            color: rgb(30, 30, 30);
            font-size: 11pt;
            font-weight: 300;
    padding: 3px 0px;
    }
.event-list > li > .info > ul > li > a {
            display: block;
            width: 100%;
            color: rgb(30, 30, 30);
            text-decoration: none;
    } 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
    } 
    .event-list > li > .info > ul > li:hover,
    .event-list > li > .social > ul > li:hover {
            color: rgb(30, 30, 30);
            background-color: rgb(200, 200, 200);
    }
    .facebook a,
    .twitter a,
    .google-plus a {
            display: block;
            width: 100%;
            color: rgb(75, 110, 168) !important;
    }
    .twitter a {
            color: rgb(79, 213, 248) !important;
    }
    .google-plus a {
            color: rgb(221, 75, 57) !important;
    }
    .facebook:hover a {
            color: rgb(255, 255, 255) !important;
            background-color: rgb(75, 110, 168) !important;
    }
    .twitter:hover a {
            color: rgb(255, 255, 255) !important;
            background-color: rgb(79, 213, 248) !important;
    }
    .google-plus:hover a {
            color: rgb(255, 255, 255) !important;
            background-color: rgb(221, 75, 57) !important;
    }

    @media (min-width: 768px) {
            .event-list > li {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 120px;
                    padding: 0px;
            }
            .event-list > li > time,
            .event-list > li > img  {
                    display: inline-block;
            }
            .event-list > li > time,
            .event-list > li > img {
                    width: 120px;
                    float: left;
            }
            .event-list > li > .info {
                    background-color: rgb(245, 245, 245);
                    overflow: hidden;
            }
            .event-list > li > time,
            .event-list > li > img {
                    width: 120px;
                    height: 120px;
                    padding: 0px;
                    margin: 0px;
            }
            .event-list > li > .info {
                    position: relative;
                    height: 120px;
                    text-align: left;
                    padding-right: 40px;
            }	
            .event-list > li > .info > .title, 
            .event-list > li > .info > .desc {
                    padding: 0px 10px;
            }
            .event-list > li > .info > ul {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
            }
            .event-list > li > .social {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: block;
                    width: 40px;
            }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
            .event-list > li > .social > ul > li {			
                    display: block;
        padding: 0px;
            }
            .event-list > li > .social > ul > li > a {
                    display: block;
                    width: 40px;
                    padding: 10px 0px 9px;
            }
    }


/* Fundraising page*/	
	
.fund-area{
    margin-top:50px;
}
.fund-categories{}
.fund-categories{}

.single-fund{
    border: 1px solid #ddd;
    text-align: center;	
    margin-bottom:50px;
}

.single-fund img{
    margin:10px 0px;
}
.single-fund p{
    font-size:16px;	
}

.single-fund h5{
   
}

.cat-fund{

}

.single-fund p span{
    color:#006600;
    font-size:18px;
}

.single-fund h4{}

.btn{
    background:#006600;
    color:#fff;
    width:132px;
    margin-bottom:20px;
}

.btn:hover{
    background:#222222;
    color:#fff;
    transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.pagination{
    margin-bottom:30px;
    text-align:center;
}

#my_pagination{
    margin:0px;
    padding:0px;
    list-style:none;
    text-align:center;
}

#my_pagination a{
    display:inline;
}

#my_pagination a,
#my_pagination strong{
    display:inline-block;
    background:#222222;
    color:#fff;
    text-decoration:none;
    font-size:15px;
    padding: 5px 14px;
    border-radius: 6px;
}

#my_pagination a:hover{
    background:#006600;
    transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}
#my_pagination strong{
    color:#fff;
    background:#006600;
}

